<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}Title{% endblock %}
    </title>
</head>

<body>

    {% block navbar %}
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/add">Add</a>
        <a href="/add-via-libraries">Add via libraries</a>
        <a href="/super">Super Mode</a>
    </nav>
    {% endblock %}

    <main>
        {% block content %}
        <h1>Hello, world!</h1>
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
</body>

</html>