{% extends "Base.peb.html" %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href="{{ book.url }}">{{ book.url }}</a></td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>{{ book.barcode }}</td>
        </tr>
        <tr>
            <td>Cover</td>
            <td><img src="/api/cover/{{ book.cover }}" alt="{{ book.title }} cover"><br>{{ book.cover }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
