{% extends "Base.peb.html" %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href="{{ book.url }}">{{ book.url }}</a></td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>{{ book.barcode }}</td>
        </tr>
        <tr>
            <td>Cover</td>
            <td><img src="/api/cover/{{ book.cover }}" alt="{{ book.title }} cover"><br>{{ book.cover }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>
                <ul>
                {% for tag in tags %}
                    <li><a href="/tag/{{ tag }}">{{ tag }}</a><form action="/api/remove-tag" method="POST">
                        <input type="text" name="book" style="display: none" required value="{{ book.id }}">
                        <input type="text" name="tag" style="display: none" required value="{{ tag }}">
                        <input type="text" name="return" style="display: none" value="{{ url }}">
                        <button>❌</button>
                    </form></li>
                {% endfor %}
                    <li>
                        <form action="/api/add-tag" method="POST">
                            <input type="text" name="book" style="display: none" required value="{{ book.id }}">
                            <input type="text" name="tag" required>
                            <input type="text" name="return" style="display: none" value="{{ url }}">
                            <button>➕</button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
    <tr>
        <td>QR</td>
        <td><img src="/api/qr?code={{ book.barcode }}&note={{ book.title }}%0A{{ book.barcode }}{% if book.note != "" %}%0A{{ book.note }}{% endif %}"></td>
    </tr>
    <tr>
        <td>Note</td>
        <td><form action="/api/set-note" method="POST">
            <input type="text" name="book" style="display: none" required value="{{ book.id }}">
            <textarea name="note" rows="5" cols="80">{{ book.note }}</textarea>
            <input type="text" name="return" style="display: none" value="{{ url }}">
            <button>Save</button>
        </form></td>
    </tr>
    </tbody>
</table>
{% endblock %}
