{% extends "Base.peb.html" %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href="{{ book.url }}">{{ book.url }}</a></td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>{{ book.barcode }}</td>
        </tr>
        <tr>
            <td>Cover</td>
            <td><img src="/api/cover/{{ book.cover }}" alt="{{ book.title }} cover"><br>{{ book.cover }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>
                <ul>
                {% for tag in tags %}
                    <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    <tr>
        <td>QR</td>
        <td><img src="/api/qr?code={{ book.barcode }}&note={{ book.title }}%0A{{ book.barcode }}{% if book.note != "" %}%0A{{ book.note }}{% endif %}"></td>
    </tr>
    <tr>
        <td>Note</td>
        <td><pre>{{ book.note }}</pre></td>
    </tr>
    </tbody>
</table>
<a href="/book/{{ book.id }}/edit">Edit</a>
{% endblock %}
